<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324</real>
					<key>controlPoint1Y</key>
					<real>161</real>
					<key>controlPoint2X</key>
					<real>358</real>
					<key>controlPoint2Y</key>
					<real>161.62890625</real>
					<key>dstPointX</key>
					<real>378</real>
					<key>dstPointY</key>
					<real>161.62890625</real>
					<key>srcPointX</key>
					<real>304</real>
					<key>srcPointY</key>
					<real>161</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>2.5</real>
			<key>onEntryHeight</key>
			<real>123</real>
			<key>onExitHeight</key>
			<real>27.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>160</real>
			<key>y</key>
			<real>190</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>341.3984375</real>
					<key>controlPoint1Y</key>
					<real>118.08203125</real>
					<key>controlPoint2X</key>
					<real>324</real>
					<key>controlPoint2Y</key>
					<real>132.41796875</real>
					<key>dstPointX</key>
					<real>304</real>
					<key>dstPointY</key>
					<real>132.41796875</real>
					<key>srcPointX</key>
					<real>341.3984375</real>
					<key>srcPointY</key>
					<real>118.08203125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>341.6015625</real>
			<key>y</key>
			<real>118.41796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MOVE_BACK</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>521.40569192993473</real>
					<key>controlPoint1Y</key>
					<real>415.39453125</real>
					<key>controlPoint2X</key>
					<real>551.44140625</real>
					<key>controlPoint2Y</key>
					<real>306.09430807006532</real>
					<key>dstPointX</key>
					<real>551.44140625</real>
					<key>dstPointY</key>
					<real>267</real>
					<key>srcPointX</key>
					<real>560.5</real>
					<key>srcPointY</key>
					<real>415.39453125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>135</real>
			<key>internalHeight</key>
			<real>8</real>
			<key>onEntryHeight</key>
			<real>53</real>
			<key>onExitHeight</key>
			<real>27</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>470</real>
			<key>x</key>
			<real>790.5</real>
			<key>y</key>
			<real>407</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MOVE_FORWARD</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>727.71781216496436</real>
					<key>controlPoint1Y</key>
					<real>145.05264313096046</real>
					<key>controlPoint2X</key>
					<real>695.68524728195121</real>
					<key>controlPoint2Y</key>
					<real>147.90638899565528</real>
					<key>dstPointX</key>
					<real>669</real>
					<key>dstPointY</key>
					<real>169.5</real>
					<key>srcPointX</key>
					<real>755</real>
					<key>srcPointY</key>
					<real>182</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>135</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>64.5</real>
			<key>onExitHeight</key>
			<real>19.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>378</real>
			<key>x</key>
			<real>939</real>
			<key>y</key>
			<real>159.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>STOP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>489.59166891816847</real>
					<key>controlPoint1Y</key>
					<real>434.5</real>
					<key>controlPoint2X</key>
					<real>510.81640625</real>
					<key>controlPoint2Y</key>
					<real>314.59166891816847</real>
					<key>dstPointX</key>
					<real>510.81640625</real>
					<key>dstPointY</key>
					<real>267</real>
					<key>srcPointX</key>
					<real>442</real>
					<key>srcPointY</key>
					<real>434.5</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>135</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>68</real>
			<key>onExitHeight</key>
			<real>18</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>396</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>410</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>STROLL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>596.86328125</real>
					<key>controlPoint1Y</key>
					<real>331.05610618132243</real>
					<key>controlPoint2X</key>
					<real>841.0859375</real>
					<key>controlPoint2Y</key>
					<real>280.44389381867757</real>
					<key>dstPointX</key>
					<real>841.0859375</real>
					<key>dstPointY</key>
					<real>344.5</real>
					<key>srcPointX</key>
					<real>596.86328125</real>
					<key>srcPointY</key>
					<real>267</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>455.75390625</real>
					<key>controlPoint1Y</key>
					<real>343.99879734536808</real>
					<key>controlPoint2X</key>
					<real>158.46484375</real>
					<key>controlPoint2Y</key>
					<real>270.50120265463192</real>
					<key>dstPointX</key>
					<real>158.46484375</real>
					<key>dstPointY</key>
					<real>347.5</real>
					<key>srcPointX</key>
					<real>455.75390625</real>
					<key>srcPointY</key>
					<real>267</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>690.51146234983298</real>
					<key>controlPoint1Y</key>
					<real>184.80859375</real>
					<key>controlPoint2X</key>
					<real>733.48853765016702</real>
					<key>controlPoint2Y</key>
					<real>182</real>
					<key>dstPointX</key>
					<real>755</real>
					<key>dstPointY</key>
					<real>182</real>
					<key>srcPointX</key>
					<real>669</real>
					<key>srcPointY</key>
					<real>184.80859375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>182</real>
			<key>internalHeight</key>
			<real>6</real>
			<key>onEntryHeight</key>
			<real>95</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>302</real>
			<key>x</key>
			<real>524</real>
			<key>y</key>
			<real>182</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
