<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BACKWARD</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>961.52835086078449</real>
					<key>controlPoint1Y</key>
					<real>367.64076158058731</real>
					<key>controlPoint2X</key>
					<real>941.19351364064471</real>
					<key>controlPoint2Y</key>
					<real>308.79296875</real>
					<key>dstPointX</key>
					<real>878</real>
					<key>dstPointY</key>
					<real>308.79296875</real>
					<key>srcPointX</key>
					<real>1000.6260427317573</real>
					<key>srcPointY</key>
					<real>417.28741964145604</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>72</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>1241</real>
			<key>y</key>
			<real>483</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>48</real>
			<key>internalHeight</key>
			<real>51</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>51</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>114</real>
			<key>x</key>
			<real>761</real>
			<key>y</key>
			<real>62</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FILL_STOP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>287.28552039736491</real>
					<key>controlPoint1Y</key>
					<real>567.5303581211831</real>
					<key>controlPoint2X</key>
					<real>246.65544883717621</real>
					<key>controlPoint2Y</key>
					<real>566.86500415869591</real>
					<key>dstPointX</key>
					<real>257</real>
					<key>dstPointY</key>
					<real>586</real>
					<key>srcPointX</key>
					<real>285</real>
					<key>srcPointY</key>
					<real>547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>132</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>50</real>
			<key>onExitHeight</key>
			<real>33</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>420</real>
			<key>x</key>
			<real>253</real>
			<key>y</key>
			<real>487</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FORWARD</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>947.64630145253614</real>
					<key>controlPoint1Y</key>
					<real>504.82071881764352</real>
					<key>controlPoint2X</key>
					<real>766.9453125</real>
					<key>controlPoint2Y</key>
					<real>433.13545750166304</real>
					<key>dstPointX</key>
					<real>766.9453125</real>
					<key>dstPointY</key>
					<real>331</real>
					<key>srcPointX</key>
					<real>1002.2981612572952</real>
					<key>srcPointY</key>
					<real>591.10412335730575</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>72</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>1241</real>
			<key>y</key>
			<real>658</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>GET_HIGHEST_PRIORITY_COMMAND</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>637.49373559405092</real>
					<key>controlPoint1Y</key>
					<real>627.89453125</real>
					<key>controlPoint2X</key>
					<real>929.50626440594908</real>
					<key>controlPoint2Y</key>
					<real>294.94140625</real>
					<key>dstPointX</key>
					<real>1021</real>
					<key>dstPointY</key>
					<real>294.94140625</real>
					<key>srcPointX</key>
					<real>546</real>
					<key>srcPointY</key>
					<real>627.89453125</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>229.05078125</real>
					<key>controlPoint1Y</key>
					<real>835.03748828856851</real>
					<key>controlPoint2X</key>
					<real>575.05078125</real>
					<key>controlPoint2Y</key>
					<real>749.96251171143149</real>
					<key>dstPointX</key>
					<real>575.05078125</real>
					<key>dstPointY</key>
					<real>810</real>
					<key>srcPointX</key>
					<real>229.05078125</real>
					<key>srcPointY</key>
					<real>775</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>625.63471445323307</real>
					<key>controlPoint1Y</key>
					<real>721.73046875</real>
					<key>controlPoint2X</key>
					<real>968.57421875</real>
					<key>controlPoint2Y</key>
					<real>675.36528554676693</real>
					<key>dstPointX</key>
					<real>968.57421875</real>
					<key>dstPointY</key>
					<real>755</real>
					<key>srcPointX</key>
					<real>546</real>
					<key>srcPointY</key>
					<real>721.73046875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>663.69372328208499</real>
					<key>controlPoint1Y</key>
					<real>664.6796875</real>
					<key>controlPoint2X</key>
					<real>875.30627671791501</real>
					<key>controlPoint2Y</key>
					<real>478.6796875</real>
					<key>dstPointX</key>
					<real>993</real>
					<key>dstPointY</key>
					<real>478.6796875</real>
					<key>srcPointX</key>
					<real>546</real>
					<key>srcPointY</key>
					<real>664.6796875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>644.43659854703219</real>
					<key>controlPoint1Y</key>
					<real>466.53866244744381</real>
					<key>controlPoint2X</key>
					<real>1032.56640625</real>
					<key>controlPoint2Y</key>
					<real>327.96636999005818</real>
					<key>dstPointX</key>
					<real>1032.56640625</real>
					<key>dstPointY</key>
					<real>165</real>
					<key>srcPointX</key>
					<real>538.94626969464036</real>
					<key>srcPointY</key>
					<real>590.75552227875164</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>657.75443059770316</real>
					<key>controlPoint1Y</key>
					<real>682.84375</real>
					<key>controlPoint2X</key>
					<real>881.24556940229684</real>
					<key>controlPoint2Y</key>
					<real>686.82421875</real>
					<key>dstPointX</key>
					<real>993</real>
					<key>dstPointY</key>
					<real>686.82421875</real>
					<key>srcPointX</key>
					<real>546</real>
					<key>srcPointY</key>
					<real>682.84375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>35</real>
			<key>onEntryHeight</key>
			<real>108</real>
			<key>onExitHeight</key>
			<real>10</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>526</real>
			<key>x</key>
			<real>289</real>
			<key>y</key>
			<real>681</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>434.18660532386889</real>
					<key>controlPoint1Y</key>
					<real>384.39339650630404</real>
					<key>controlPoint2X</key>
					<real>202.1686406732465</real>
					<key>controlPoint2Y</key>
					<real>395.06933212630508</real>
					<key>dstPointX</key>
					<real>213</real>
					<key>dstPointY</key>
					<real>426</real>
					<key>srcPointX</key>
					<real>441</real>
					<key>srcPointY</key>
					<real>362</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>600.14113845891279</real>
					<key>controlPoint1Y</key>
					<real>162.90405176885383</real>
					<key>controlPoint2X</key>
					<real>672.55131285493485</real>
					<key>controlPoint2Y</key>
					<real>70.183705929476446</real>
					<key>dstPointX</key>
					<real>709.55042445724735</real>
					<key>dstPointY</key>
					<real>64.75716956113726</real>
					<key>srcPointX</key>
					<real>565</real>
					<key>srcPointY</key>
					<real>127</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>350</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>269.5</real>
			<key>onExitHeight</key>
			<real>31.5</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>550</real>
			<key>x</key>
			<real>296</real>
			<key>y</key>
			<real>193</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>620.6875</real>
					<key>controlPoint1Y</key>
					<real>35.328125</real>
					<key>controlPoint2X</key>
					<real>556.87376828853235</real>
					<key>controlPoint2Y</key>
					<real>111.37915049274523</real>
					<key>dstPointX</key>
					<real>564.94262440010289</real>
					<key>dstPointY</key>
					<real>41.486153232186609</real>
					<key>srcPointX</key>
					<real>620.6875</real>
					<key>srcPointY</key>
					<real>35.328125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>25</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>25</real>
			<key>x</key>
			<real>621.828125</real>
			<key>y</key>
			<real>37.16796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>NO_COMMAND</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>935.80684730239648</real>
					<key>controlPoint1Y</key>
					<real>152.99354624821365</real>
					<key>controlPoint2X</key>
					<real>898</real>
					<key>controlPoint2Y</key>
					<real>196.9453125</real>
					<key>dstPointX</key>
					<real>878</real>
					<key>dstPointY</key>
					<real>196.9453125</real>
					<key>srcPointX</key>
					<real>955.40342365119818</real>
					<key>srcPointY</key>
					<real>148.99677312410682</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>134</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>51</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>394</real>
			<key>x</key>
			<real>1147</real>
			<key>y</key>
			<real>104</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SEND_COMAMND</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>726.42263827815611</real>
					<key>controlPoint1Y</key>
					<real>126.35642249807512</real>
					<key>controlPoint2X</key>
					<real>764.49836397961542</real>
					<key>controlPoint2Y</key>
					<real>108.71671391301288</real>
					<key>dstPointX</key>
					<real>763.28072992038585</real>
					<key>dstPointY</key>
					<real>80.981715897228014</real>
					<key>srcPointX</key>
					<real>725</real>
					<key>srcPointY</key>
					<real>154</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>571.27701605394839</real>
					<key>controlPoint1Y</key>
					<real>367.12941850281754</real>
					<key>controlPoint2X</key>
					<real>500.66082296434388</real>
					<key>controlPoint2Y</key>
					<real>423.17819554108428</real>
					<key>dstPointX</key>
					<real>455.82678808312278</real>
					<key>dstPointY</key>
					<real>439.25077408340883</real>
					<key>srcPointX</key>
					<real>597.84396098660022</real>
					<key>srcPointY</key>
					<real>327.59948172478585</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>188</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>97</real>
			<key>onExitHeight</key>
			<real>42</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>300</real>
			<key>x</key>
			<real>734</real>
			<key>y</key>
			<real>243</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_LEFT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>717.21484375</real>
					<key>controlPoint1Y</key>
					<real>702</real>
					<key>controlPoint2X</key>
					<real>612.21484375</real>
					<key>controlPoint2Y</key>
					<real>439</real>
					<key>dstPointX</key>
					<real>612.21484375</real>
					<key>dstPointY</key>
					<real>331</real>
					<key>srcPointX</key>
					<real>717.21484375</real>
					<key>srcPointY</key>
					<real>810</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>72</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>880</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_RIGHT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>826.21484375</real>
					<key>controlPoint1Y</key>
					<real>646.75</real>
					<key>controlPoint2X</key>
					<real>710.21484375</real>
					<key>controlPoint2Y</key>
					<real>439.25</real>
					<key>dstPointX</key>
					<real>710.21484375</real>
					<key>dstPointY</key>
					<real>331</real>
					<key>srcPointX</key>
					<real>826.21484375</real>
					<key>srcPointY</key>
					<real>755</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>72</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>1028</real>
			<key>y</key>
			<real>825</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TURN_STOP</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>978.64888457559061</real>
					<key>controlPoint1Y</key>
					<real>265.0390625</real>
					<key>controlPoint2X</key>
					<real>920.35111542440939</real>
					<key>controlPoint2Y</key>
					<real>254.3125</real>
					<key>dstPointX</key>
					<real>878</real>
					<key>dstPointY</key>
					<real>254.3125</real>
					<key>srcPointX</key>
					<real>1021</real>
					<key>srcPointY</key>
					<real>265.0390625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>63</real>
			<key>onExitHeight</key>
			<real>38</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>506</real>
			<key>x</key>
			<real>1269</real>
			<key>y</key>
			<real>302</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
